@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Luckiest Guy', cursive;
}
.header {
    width: 100%;
    height: 100px;
    background: red;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.header .math-operation {
    display: flex;
    margin-top: 10px;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}
.math-operation li {
    margin: 0 5px;
    list-style-type: none;
}
.math-operation li a {
    display: block;
    text-decoration: none;
    color: #fff;
}
.current {
    border-bottom: 2px solid #fff;
}
main {
    display: grid;
    grid-template-rows: 150px 50px;
}
.equation {
    margin: 10px 10px;
    box-shadow: 2px 2px 5px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.equation h1 {
    margin: 0 10px;
    font-size: 2.5rem;
}
.options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.options div {
    width: 60px;
    height: 60px;
    margin: auto 5px;
    border-radius: 4px;
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

@media only screen and (min-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 6fr 1fr;
    }
    .equation {
        height: 230px;
    }
    .equation h1 {
        font-size: 3rem;
    }
    .options {
        flex-direction: column;
        width: 100px;
        height: 200px;
    }
    .options div {
        height: 70px;
        width: 70px;
        font-size: 3rem;
        margin-bottom: 10px;
    }
    .header {
        height: 150px;

    }
    .header h2 {
        font-size: 3rem;
    }
    .header .math-operation {
        font-size: 1.5rem;
    }
}